<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Adicionar com Cartão de débito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="floating">Digite o número do cartão</ion-label>
    <ion-input type="number" name="numero" [(ngModel)]="numero" placeholder="0000 0000 0000 0000"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nome impresso</ion-label>
    <ion-input type="text" name="nome" [(ngModel)]="nome" placeholder="Nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Data de vencimento</ion-label>
    <ion-input type="number" name="data" [(ngModel)]="data" placeholder="MM/YY"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Código de segurança</ion-label>
    <ion-input type="number" name="codigo" [(ngModel)]="codigo" placeholder="000"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Valor que deseja adicionar na conta</ion-label>
    <ion-input type="number" name="valor" [(ngModel)]="valor" placeholder="0,00">R$</ion-input>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="success" (click)="submit()" (click)="alertAdiciona()" (click)="close()" routerLink="/home/inicio">confirmar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="danger" (click)="close()">cancelar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
