<ion-header>
  <ion-toolbar>
    <ion-title>pagar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="medium">Escolha uma das opções a seguir</ion-text>
  <p></p>

  <ion-item>
    <ion-icon name="barcode-outline" slot="start"></ion-icon>
    <ion-label>Pagar boleto</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="qr-code-outline" slot="start"></ion-icon>
    <ion-label>Pagar escaneando QR code</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
    <ion-label>Pagar com NFC</ion-label>
  </ion-item>
</ion-content>


